body
{
    font-size: 20px;
}
main
{
    width: 100%;
    align-items: center;
}
#logo_and_navbar
{
    padding-bottom: 10%;
}
#header_nav
{
    flex-direction: column-reverse;
    width: 100%;
}
.header_nav_part:nth-child(1)
{
    justify-content: space-around;
}
.header_nav_part:nth-child(2)
{
    align-self: flex-end;
}
.header_nav_part:nth-child(2) a
{
    border-bottom: unset;
}
.header_nav_part:nth-child(2) a:hover
{
    border-top: 3px solid #0065FC;
}
.navbar_link
{
    flex: 1;
    border-bottom: 3px #f2f2f2 solid;
}
.navbar_link:hover
{
    border-top: unset;
    border-bottom:  3px solid #0065FC;
}
#search
{
    margin-top: 22%;
    align-items: center;
}
#search_bar
{
    max-width: 40%;
}
#search_button span
{
    display: none;
}
#search_button i
{
    display: inline-block;
}
.filters span
{
    font-size: 16px;
}
#hosting
{
    flex-direction: column-reverse;
    padding-left: 50px;
    align-items: center;
}
#hosting_main
{
    max-width: none;
    width: 800px;
    height: unset;
}
[class="hosting_card"]
{
    flex: auto;
    display: flex;
    justify-content: center;
    width: unset;
}
[class="hosting_card"] a:link
{
    width: 100%;
}
.hosting_pic
{
    max-width: none;
    width: 100%;
}
.hosting_card_figure
{
    display: flex;
}
aside
{
    width: 800px;
    height: unset;
}
#hosting_card_popular
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hosting_card.hosting_card_popular
{
    height: 260px;
    width: 300px;
}
.hosting_pic_popular
{
    height: 247px;
    width: 100px;
    max-width: none;
}
#activities
{
    width: 95%;
}
#activities_card
{
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: unset;
}
.activities_card_type1
{
    width: 95%;
    margin-bottom: 10px;
    height: 300px;
}
.activities_type1
{
    height: unset;
}
.activities_type1 img 
{
    height: 260px;
}
.pic_caption_activities
{
    margin-top: 10px;
}
.activities_card_type2:nth-child(1)
{
    height: 300px;
}
.activities_card_type2:nth-child(2)
{
    height: 300px;
}
.activities_card_type2
{
    margin: 0px 0 10px 0;
}
.activities_card_tiny
{
    max-width: unset;
    width: 95%;
}
.activities_card_type2 img
{
    width: 100%;
    height: 260px;
}
