body
{
    font-size: 16px;
}
main
{
    margin: unset;
}
#logo_and_navbar
{
    padding-bottom: 20%;
}
#search
{
    margin-top: 50%;
    margin-left: 10px;
    align-items: center;
}
#search_filters
{
    flex-direction: column;
}
#hosting
{
    padding: unset;
    margin: 0 10px 0 10px;
}
#hosting_main
{
    width: 95%;
}
[class="hosting_card"]
{
    width: 100%;
}
.hosting_pic
{
    height: 165px;
}
aside
{
    width: 95%;
}
#hosting_card_popular
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hosting_card.hosting_card_popular
{
    margin: 10px;
    padding: 5px;
    max-width: none;
    width:100% ;
}
.hosting_pic_popular
{
    width: 100%;
}
#activities_card
{
    flex-direction: column;
    flex-wrap: wrap;
    max-height: none;
}
.activities_pic
{
    width: unset;
}
.activities_card_type1
{
    width: 100%;
}
.activities_card_tiny
{
    max-width: none;
    width: 100%;
}
footer
{
    flex-direction: column;
    padding: 10px;
}