body
{
    font-family: 'Raleway', sans-serif;
    margin: auto;
}
p
{
    color: black;;
}
h6
{
    color: black;
    margin: 0px;
}
#logo_and_navbar
{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display:flex;
    background: rgba(255, 255, 255, 0.9);
}
#logo_and_navbar img
{
    height: 50px;
}
#logo
{
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 10px;

}
.header_nav_part
{
    display: flex;
}
.navbar_link
{
    color: #0065FC;
    display: block;
    padding: 2rem;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    text-decoration: none;

}
.navbar_link:hover
{
    border-top: 3px solid #0065FC;
}
#header_nav
{
    display: flex;
    position: absolute;
    top:0px;
    right: 0px;
}
main
{
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
}
#search
{
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}section h1
{
    margin-bottom: 5px;
}
section p
{
    margin-top: 0px;
}
#search_form
{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.search_form
{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-left: none;
    border-right: none;
    font-weight: bold;
}
#search_bar
{
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
}
#search_button
{
    background-color: #0065FC;
    color: white;
    border-radius: 0 1rem 1rem 0;
    border-top: #0065FC 1px solid;
    border-bottom: #0065FC 1px solid;
    font-size: 1rem;
    cursor: pointer;
}
#search_button i
{
    display: none;
}
#form_label
{
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;

}
#search_filters
{
    display: flex;
    align-items: baseline;
}
#search_filters h2
{
    margin-right: 10px;
    font-size: medium;
}
#search_filters_icon
{
    display: flex;
    flex-wrap: wrap;
}
#search_filters i
{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    margin-right: 1rem;
}
.filters
{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    padding-right: 1rem;
}
.filters:hover
{
    background-color: #DEEBFF;
}
#search_result
{
    display: flex;
    align-items: center;
}
#search_result i
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
}
#search_result p
{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#hosting
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
#hosting_main
{
    max-width: 900px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    height: 560px;
}
#hosting_main h2
{
    margin-left: 10px;
}
#hosting_articles
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
.hosting_card
{
    background-color: white;
    padding: 0.3rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    margin: auto;
    margin: 10px;
}
[class="hosting_card"]
{
    width: 30%;
    padding-bottom: 10px;
}
.hosting_card a:link
{
        text-decoration: none;
        font-weight: normal;
        color: black;
}
.hosting_card figure
{
    margin: 1px;
}
.hosting_pic
{
    height: 7rem;
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}
.hosting_pic
{
    border-radius: 1rem 1rem 0 0;
}
.pic_caption
{
    font-weight: bolder;
    font-size: large;
    margin: 10px 0 10px 10px;
}
.hosting_caption
{
    margin-bottom: 0px;  
    margin-left: 10px; 
}
.notation
{
    height: 50%;
    margin-left: 10px;
    max-width: 50%;
}
.notation i[data-active=true]
{
    color: #0065FC;
}
.notation i[data-active=false]
{
    color: #DEEBFF;
}
#more_link:link
{
    text-decoration: none;
    font-weight: normal;
    color: black;
}
#more_link p
{
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
aside
{
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
    height: 560px;
}
aside h2
{
    margin-left: 10px;
}
.hosting_card_popular a
{
    display: flex;
    align-items: center;
}
.hosting_card_popular .notation
{
    width: 40%;
}
.hosting_card_figure_popular
{
    width: 40%  ;
}
.pic_caption_popular
{
    font-weight: bolder;
    font-size: large;
    height: 50%;
}
.hosting_pic_popular
{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 200px;
    max-height: 100%;
    min-height: 138px;
}
.hosting_pic_popular
{
    border-radius: 1rem 0 0 1rem;

}
#activities
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 80%;
    width: auto;
    margin-bottom: 4rem;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
#activities_card
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-height: 500px;
    width: 100%;
    justify-content: space-around;
}
#activities_card a:link
{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.activities_card_type1
{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 22%;
    border-radius: 15px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 30%), 3px 3px 6px rgb(0 0 0 / 10%);
    background-color: white;
}
.activities_type1
{
    height: 500px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activities_type1 img
{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.activities_type1 h6
{
    margin-left: 10px;
    font-size: 16px;
}
.activities_card_type2
{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 30%), 3px 3px 6px rgb(0 0 0 / 10%);
    padding-bottom: 10px;
    max-height: inherit;
    background-color: white;
}
.activities_card_type2:nth-child(1)
{
    height: 41%;
}
.activities_card_type2:nth-child(2)
{
    margin-top: 10px;
    height: 33%;
}
.activities_card_tiny
{
    display: flex;
    flex-direction: column;
    max-width: 22.5%;
    padding: 0 5px 5px 5px;
    max-height: inherit;
}
.activities_type2
{
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activities_type2 img
{
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    max-width: 100%;
}
.activities_type2 h6
{
    margin: 10px 0 0 10px;
    font-size: 16px;
}
.activities_pic
{
    width: 310px;
    height: 200px;
}
.activities_pic2
{
    height: 250px;
}
.activities_pic3
{
    height: 150px;
}
footer
{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: 10px;
    padding-left: 20px;
}
footer div
{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
}
footer div a
{
    color: black;
    text-decoration: none;
    margin: 5px 0 5px 5px;
    font: icon;
}